//== Gray Shades
//## Different gray shades to be used for our variables and components
$gray-darker:                                       #222222;
$gray-dark:                                         #333333;
$gray:                                              #555555;
$gray-light:                                        #888888;
$gray-primary:                                      #D7D7D7;
$gray-lighter:                                      #EEEEEE;

//== Step 1: Brand Colors
$brand-default:                                     #DDDDDD;
$brand-primary:                                     #48B0F7;
$brand-inverse:                                     #252C36;
$brand-info:                                        #48B0F7;
$brand-success:                                     #76CA02;
$brand-warning:                                     #F99B1D;
$brand-danger:                                      #ED1C24;

// Used for other variables
$default-border-color:                              $gray-primary;

//== Step 3: Typography
$font-family-import:                                "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
@if $font-family-import != false {
    // Only import, if the import is set
    @import url($font-family-import);
}
$font-family-base:                                  "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-base-size:                                    14px;
$font-base-color:                                   rgb(102, 102, 102);
$link-color:                                        $brand-primary;
$font-size-h1:                                      31px;
$font-size-h2:                                      26px;
$font-size-h3:                                      24px;
$font-size-h4:                                      18px;
$font-color-headers:                                #17347B;

//== Step 2: UI Customization

// Topbar
$topbar-bg:                                         #00CA8D;
$navtopbar-border-color:                            $default-border-color;
$topbar-border-color:                               $navtopbar-border-color;
$topbar-minimalheight:                              80px;
$navtopbar-color:                                   $font-base-color;
$navbar-brand-name:                                 #FFFFFF !important;
$brand-logo:                                        false;
$brand-logo-height:                                 30px;
$brand-logo-width:                                  30px;

// Navbar Brand Name / For your company, product, or project name (used in layouts/base/)
$navsidebar-border-color:                           $default-border-color !default;

// Sidebar
$sidebar-bg:                                        $brand-inverse;
$navsidebar-color:                                  #FFFFFF;
$navsidebar-color-hover:                            $navsidebar-color;

// Backgrounds
$bg-color:                                          #FFFFFF;
$bg-color-secondary:                                #F5F8FD;

// == Old variables used in theme customizer to the new lib variables
$font-size-default:                                 $font-base-size;
$font-color-default:                                $font-base-color;
$border-color-default:                              $default-border-color;
$font-color-header:				                    $font-color-headers;

// Font Weights
$font-weight-light:                     100 !default;
$font-weight-normal:                    normal !default;
$font-weight-semibold:                  600 !default;
$font-weight-bold:                      bold !default;

// Form Label
$form-label-color:                      #666 !default;
$form-label-size:                       $font-size-default !default;
$form-label-weight:                     $font-weight-normal !default;
$form-label-gutter:                     8px !default;